* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

p {
  color: rgb(192, 192, 192);
}

/* Home Page */

.home-landing-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
  opacity: 0.4;
}


.reviews .carousel-item img {
  width: 90%;
  height: auto;
  float: inline-end;
}

.container.reviews h2 {
  padding-bottom: 1em;
  padding-left: 3em;
}

.sign-up-div {
  padding-top: 10em;
  text-align: center;
}

.sign-up-div h1,
.sign-up-div p {
  padding-bottom: 1em;
}

.sign-up-div .btn.register_btn {
  color: white;
  font-weight: bold;
  background-color: rgb(184, 127, 22);
  border-radius: 20px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sign-up-div .btn.register_btn:hover {
  background-color: orange;
  color: white;
  font-size: 1.1em;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* CSS for search bar */

.search-container {
  position: relative;
  background-color: #131313;
  border-radius: 30px;
}

.search-input {
  height: 50px;
  border-radius: 30px;
  padding-left: 35px;
  border: none;
  background-color: #131313;
  color: rgb(192, 192, 192);
}

.search-input::placeholder {
  color: rgb(192, 192, 192);
}

.search-input:focus {
  background-color: #131313;
  color: white;
  box-shadow: 0 0 30px 1px orange !important;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: rgb(192, 192, 192);
}

/* CSS for Cards in About Us, Contact and Shop */

.container .cards {
  background-color: #131313;
  color: white;
  text-align: center;
  border: 0.5px solid rgb(36, 36, 36);
  border-radius: 10px;
  padding: 1em;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container .cards i,
.container .cards h3 {
  color: orange;
  border: 1px solid #131313;
}

.container .cards i {
  font-size: x-large;
  padding-bottom: 0.5em;
}

.container .cards:hover {
  scale: calc(1.1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 0 30px 3px orange;
}

/* For Shop cards */

.container .shop-cards {
  text-align: start;
  padding: 0;
  border: none;
}

.container .shop-cards {
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container .shop-cards:hover {
  scale: calc(1.03);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.zoom-img {
  overflow: hidden;
  border-radius: 10px;
}

.zoom-img img {
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shop-cards:hover .zoom-img img {
  transform: scale(1.13);
  opacity: calc(0.75);
}

.shop-cards:hover .card-title {
  color: orange;
}

.container .row .shop-cards h6 {
  color: rgb(213, 100, 1) !important;
}

.container .row .shop-cards .card-links .cart {
  padding: 0;
  border: none;
  color: white;
  font-size: 1.2cap;
}

.container .row .shop-cards .card-links {
  background-color: rgb(184, 127, 22);
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  text-decoration: none !important;
}

.container .row .shop-cards .card-links:active {
  background-color: rgb(184, 127, 22) !important;
}

.container .row .shop-cards .card-links:hover {
  background-color: orange;
  color: white !important;
  font-weight: bold;
  scale: calc(1.1) !important;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shop-cards .card-main-link {
  text-decoration: none;
  color: inherit;
}

.shop-cards .card-links {
  background-color: rgb(184, 127, 22);
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  text-decoration: none !important;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shop-cards .card-links:hover {
  background-color: orange;
  font-weight: bold;
  scale: calc(1.1);
}

.shop-cards p:hover {
  scale: calc(1);
  transition: none !important;
}

/* About Us Page */

#about-top-container {
  width: 80%;
}

.container .cards-about-us {
  width: 10rem;
  height: 9rem;
}

.container .cards2 {
  background-color: #131313;
  border-radius: 10px;
  border: 0.5px solid rgb(36, 36, 36);
  padding: 1em;
}

/* Contact */

.container .cards-contact {
  width: 25%;
  height: 9rem;
}

/* CSS for Forms */

.form-container {
  width: 75%;
  background-color: #131313;
  border-radius: 20px;
}

.form-control:focus {
  border-color: orange !important;
  box-shadow: 0 0 15px 2px orange !important;
  outline: none;
}

.form-switch .form-check-input:checked {
  background-color: orange !important;
  border-color: orange;
}

.form-switch .form-check-input:focus {
  box-shadow: 0 0 5px 0.25rem orange;
}

.form-container .row .columns input,
.form-container .row .columns textarea,
.form-container .row .columns select {
  background-color: black !important;
  color: white;
  border: 0.5px solid rgb(36, 36, 36);
  border-radius: 10px;
}

.form-container .row .columns input::placeholder,
.form-container .row .columns textarea::placeholder,
.form-container .row .columns select::placeholder {
  color: rgb(140, 140, 140);
  font-size: medium;
}

.form-container .row .columns input::placeholder,
.form-container .row .columns textarea::placeholder,
.form-container .row .columns select::placeholder {
  color: rgb(140, 140, 140);
}

.btn.submit-btn {
  color: white;
  background-color: rgb(184, 127, 22);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn.submit-btn:hover {
  background-color: orange;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  scale: calc(1.03);
}

.contact-container-info {
  width: 80%;
  margin-top: 4em;
  margin-bottom: 5rem;
}

.valid-feedback, 
.invalid-feedback {
  font-size: small;
}

/* Register Page */

.register-container {
  max-width: 700px;
}

/* Privacy Policy page */

.privacy_ul {
  list-style-type: disc;
  color: rgb(192, 192, 192);
}

.privacy_ul_li {
  margin-bottom: 0.5em;
}

/* Responsive Design */

@media (min-width: 992px) and (max-width: 1199px) {
  .home-about-heading {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .reviews .carousel-item img {
    width: 73%;
    margin-right: 5.5em;
  }

  .reviews .carousel-item .content {
    width: 76%;
    justify-content: space-between;
    margin: auto;
  }

  .contact-container-info {
    width: 100%;
    margin-top: 4em;
    margin-bottom: 5rem;
  }
}

@media (max-width: 992px) {
  .container .cards-contact {
    width: 90%;
    height: 9rem;
  }
}

@media (width: 992px) {
  .container .cards-contact {
    width: 75%;
    height: 9rem;
  }
}

@media (min-width: 495px) and (max-width: 768px) {
  .reviews .carousel-item img {
    width: 73%;
    margin-right: 4em;
  }

  .reviews .carousel-item .content {
    width: 76%;
    justify-content: space-between;
    margin: auto;
  }

  .contact-container-info {
    width: 100%;
    margin-top: 4em;
    margin-bottom: 5rem;
  }
}

@media (max-width: 495px) {
  .reviews .carousel-item img {
    width: 73%;
    margin-right: 3.7em;
  }

  .reviews .carousel-item .content {
    width: 76%;
    justify-content: space-between;
    margin: auto;
  }

  .contact-container-info {
    width: 100%;
    margin-top: 4em;
    margin-bottom: 5rem;
  }

  #about-top-container {
    width: 100%;
  }

  .container .cards2 {
    width: auto;
  }

  .card-title {
    font-size: small !important;
  }

  .price {
    font-size: small;
  }

  .form-container {
    width: 90%;
  }
}
